@import "tailwindcss";

@theme {
  --radius-xs: 5px;
  --radius-sm: 5px;
  --radius-md: 5px;
  --radius-lg: 5px;
  --radius-xl: 5px;
  --radius-2xl: 5px;
  --radius-3xl: 5px;
  --radius-full: 5px;
}

button, 
select,
[role="button"] {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}